<% if current_user %>
	<%= link_to 'Sign out', signout_path, class: 'button-tiny sign-out' %>
<% else %>
	<div class='welcome-container center'>
		<h1 class='welcome'>Where in the World are Your Twitter Friends?</h1>
		<h3>Sign in to Find out!</h3>
		<%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'button-large' %>
	</div>
<% end %>

<% if current_user && current_user.friends.empty? %>
  <h3 class='user-message center'><%= image_tag current_user.avatar, class: 'user-avatar' %> One more step!</h3>
	<%= link_to 'Fetch My Friends', fetch_friends_path, class: 'button-large fetch-friends center' %>
<% else %>
  <h3 class='user-message center'><%= image_tag current_user.avatar, class: 'user-avatar' %><%= current_user.name %>, here are your followers.</h3>
	<div class='map-container'>
		<div id='map' ></div>
	</div>
<% end %>

<script>
	var mapStyle = [
    {
      "featureType": "landscape",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "lightness": 65
        },
        {
          "visibility": "on"
        }
       ]
    },
    {
      "featureType": "poi",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "lightness": 51
        },
        {
          "visibility": "simplified"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "visibility": "simplified"
        }
      ]
    },
    {
      "featureType": "road.arterial",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "lightness": 30
        },
        {
          "visibility": "on"
        }
      ]
    },
    {
      "featureType": "road.local",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "lightness": 40
        },
        {
          "visibility": "on"
        }
      ]
    },
    {
      "featureType": "transit",
      "stylers": [
        {
          "saturation": -100
        },
        {
          "visibility": "simplified"
        }
      ]
    },
    {
      "featureType": "administrative.province",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "on"
        },
        {
          "lightness": -25
        },
        {
          "saturation": -100
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "geometry",
      "stylers": [
        {
          "hue": "#ffff00"
        },
        {
          "lightness": -25
        },
        {
          "saturation": -97
        }
      ]
    }
	];

	var locations = <%= raw @markers %>;

	var markers = []

	for (var i = 0; i < locations.length; i++) {
		markers.push({
			'lat': locations[i][1],
			'lng': locations[i][2],
			 "picture": {
	      "url": locations[i][3],
	      "width":  36,
	      "height": 36
	    },
	    'infowindow': locations[i][0]
		});
	}

	handler = Gmaps.build('Google');
	handler.buildMap({internal: {id: 'map'}, provider: { styles: mapStyle }}, function(){
		friendMarkers = handler.addMarkers(markers);
		handler.bounds.extendWith(friendMarkers);
		handler.fitMapToBounds();
	});

</script>
